.navbar{
    
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none ;
    color: red;
    
}
li{
    list-style-type: none;     /*its is used for  remove the bullets points*/
    /* background-color: white; */
   
}
.outer{
    height: 600px;
    width: 600px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 200px;
    width: 200px;
    background-color: rgb(197, 8, 115);
    
}